/* ========== heading ========== */
.ad-inserter-h2 {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 25px 0;
    margin: 0;
}

.ad-inserter-h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.ad-inserter-h3 span, .ad-inserter-h3-bold span, span.ad-inserter-h3 {
    padding-left: 20px;
    text-transform: none;
}

.ad-inserter-h3-bold {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

/* ========== headline ========== */
.ad-inserter-headline, .ad-inserter-headline-with-button {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.ad-inserter-headline-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ========== paragraph ========== */
.ad-inserter-paragraph {
    font-size: 15px;
}

/* ========== button groups ========== */
.ad-inserter-right-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
}

.ad-inserter-right-button-group button:first-child {
    margin: 0 8px;
}

.ad-inserter-right-button-group .ad-inserter-loading-button-container:first-child {
    margin: 0 8px;
}

.ad-inserter-space-around-button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ========== layout ========== */
.ad-insertion-content-wrapper {
    padding: 0 20px;
}


/* ========== buttons ========== */
.ad-inserter-button-green-white {
    background-color: #25C1B2;
    border-color: #25C1B2;
    color: #fff;
    text-transform: uppercase !important;
    text-shadow: none;
    line-height: 40px;
    border-radius: 3px;
    border-style: none !important;
    height: 44px;
    padding: 0 20px;
    cursor: pointer;
}

.ad-inserter-button-green-white:hover {
    background-color: #37D1BE;
    border-color: #37D1BE;
}

.ad-inserter-button-white-blue {
    background-color: #fff;
    color: #43B4F9;
    text-transform: uppercase !important;
    text-shadow: none;
    line-height: 40px;
    border: 2px solid #43B4F9;
    border-radius: 3px;
    height: 44px;
    padding: 0 20px;
    cursor: pointer;
}

.ad-inserter-button-white-blue:focus {
    outline: none;
}

.ad-inserter-button-white-blue:hover {
    border-color: #59C3F7;
    color: #59C3F7;
}

/* ========== forms ========== */
.ad-inserter-create-ad,
.ad-inserter-create-video {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.ad-inserter-lable-input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.ad-inserter-right-button-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.ad-inserter-table-edit-ad-view .ad-inserter-lable-input-row,
.ad-inserter-create-ad .ad-inserter-lable-input-row,
.ad-inserter-create-video .ad-inserter-lable-input-row {
    width: 100%;
}

.ad-inserter-lable-input-row > label {
    text-transform: uppercase;
    padding-right: 10px;
}

.ad-inserter-table-edit-ad-view label,
.ad-inserter-create-ad label {
    width: 120px;
}

.ad-inserter-create-video label {
    width: 150px;
}

.ad-inserter-lable-input-row > input {
    box-shadow: none;
    background: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 3px;
    border-bottom: 2px solid #43B4F9;
    transition: border-color .2s;
    height: 30px;
    width: 100%;
    margin: 0 !important;
}

.ad-inserter-lable-input-row > input.wrong-input {
    border-bottom: 2px solid #ff4a4f;
    color: #ff4a4f;
}

.ad-inserter-video-part input:-webkit-autofill, input.ad-inserter-input:-webkit-autofill {
    box-shadow: 0 0 0 30px #F8F8F8 inset;
    border: 2px solid #F8F8F8;
    border-bottom: 2px solid #43B4F9;
}

.ad-inserter-lable-input-row > input::-webkit-input-placeholder {
    text-align: center;
    text-transform: uppercase;
}

.ad-inserter-lable-input-row > input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    text-transform: uppercase;
}

.ad-inserter-lable-input-row > input::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    text-transform: uppercase;
}

.ad-inserter-lable-input-row > input:-ms-input-placeholder {
    text-align: center;
    text-transform: uppercase;
}
.ad-inserter-lable-input-row > input::placeholder {
    text-align: center;
    text-transform: uppercase;
}
.ad-inserter-lable-input-row > input:focus {
    border: 2px solid #43B4F9;
    transition: border-color .2s;
}

.ad-inserter-lable-input-row > input.wrong-input:focus {
    border: 2px solid #ff4a4f;
}


/* ========== button ========== */
.ad-inserter button, .ad-inserter .ad-inserter-loading-button-container, .ad-inserter .ad-inserter-loading-button-container.white {
    display: flex;
    align-items: center;
}

.ad-inserter button .material-icons, .ad-inserter .ad-inserter-loading-button-container .material-icons {
    margin-right: 8px;
}

.ad-inserter .key-down{
    font-size: 34px;
    margin: 0 -5px;
}

.ad-inserter .material-icon-as-button {
    cursor: pointer;
}

.ad-inserter .material-icon-as-button:hover {
    color: #43B4F9;
}

.ad-inserter a {
    text-decoration: none;
}

/* ========== loading button ========== */
@keyframes changeGradientGreen {
    0% { background: linear-gradient(141deg, #37D1BE 0%, #25C1B2 11%); }
    5% { background: linear-gradient(141deg, #37D1BE 6%, #25C1B2 16%); }
    10% { background: linear-gradient(141deg, #25C1B2 0%, #37D1BE 11%, #25C1B2 21%); }
    15% { background: linear-gradient(141deg, #25C1B2 6%, #37D1BE 16%, #25C1B2 26%); }
    20% { background: linear-gradient(141deg, #25C1B2 11%, #37D1BE 21%, #25C1B2 31%); }
    25% { background: linear-gradient(141deg, #25C1B2 16%, #37D1BE 26%, #25C1B2 36%); }
    30% { background: linear-gradient(141deg, #25C1B2 21%, #37D1BE 31%, #25C1B2 41%); }
    35% { background: linear-gradient(141deg, #25C1B2 26%, #37D1BE 36%, #25C1B2 46%); }
    40% { background: linear-gradient(141deg, #25C1B2 31%, #37D1BE 41%, #25C1B2 51%); }
    45% { background: linear-gradient(141deg, #25C1B2 36%, #37D1BE 46%, #25C1B2 56%); }
    50% { background: linear-gradient(141deg, #25C1B2 41%, #37D1BE 51%, #25C1B2 61%); }
    55% { background: linear-gradient(141deg, #25C1B2 46%, #37D1BE 56%, #25C1B2 66%); }
    60% { background: linear-gradient(141deg, #25C1B2 51%, #37D1BE 61%, #25C1B2 71%); }
    65% { background: linear-gradient(141deg, #25C1B2 56%, #37D1BE 66%, #25C1B2 76%); }
    70% { background: linear-gradient(141deg, #25C1B2 61%, #37D1BE 71%, #25C1B2 81%); }
    75% { background: linear-gradient(141deg, #25C1B2 66%, #37D1BE 76%, #25C1B2 86%); }
    80% { background: linear-gradient(141deg, #25C1B2 71%, #37D1BE 81%, #25C1B2 91%); }
    85% { background: linear-gradient(141deg, #25C1B2 76%, #37D1BE 86%, #25C1B2 96%); }
    90% { background: linear-gradient(141deg, #25C1B2 81%, #37D1BE 91%); }
    95% { background: linear-gradient(141deg, #25C1B2 86%, #37D1BE 96%); }
    100% { background: linear-gradient(141deg, #25C1B2 91%, #37D1BE 0%); }
}


@keyframes changeGradientWhite {
    0% { background: linear-gradient(141deg, #DEF3FD 0%, #fff 11%); }
    5% { background: linear-gradient(141deg, #DEF3FD 6%, #fff 16%); }
    10% { background: linear-gradient(141deg, #fff 0%, #DEF3FD 11%, #fff 21%); }
    15% { background: linear-gradient(141deg, #fff 6%, #DEF3FD 16%, #fff 26%); }
    20% { background: linear-gradient(141deg, #fff 11%, #DEF3FD 21%, #fff 31%); }
    25% { background: linear-gradient(141deg, #fff 16%, #DEF3FD 26%, #fff 36%); }
    30% { background: linear-gradient(141deg, #fff 21%, #DEF3FD 31%, #fff 41%); }
    35% { background: linear-gradient(141deg, #fff 26%, #DEF3FD 36%, #fff 46%); }
    40% { background: linear-gradient(141deg, #fff 31%, #DEF3FD 41%, #fff 51%); }
    45% { background: linear-gradient(141deg, #fff 36%, #DEF3FD 46%, #fff 56%); }
    50% { background: linear-gradient(141deg, #fff 41%, #DEF3FD 51%, #fff 61%); }
    55% { background: linear-gradient(141deg, #fff 46%, #DEF3FD 56%, #fff 66%); }
    60% { background: linear-gradient(141deg, #fff 51%, #DEF3FD 61%, #fff 71%); }
    65% { background: linear-gradient(141deg, #fff 56%, #DEF3FD 66%, #fff 76%); }
    70% { background: linear-gradient(141deg, #fff 61%, #DEF3FD 71%, #fff 81%); }
    75% { background: linear-gradient(141deg, #fff 66%, #DEF3FD 76%, #fff 86%); }
    80% { background: linear-gradient(141deg, #fff 71%, #DEF3FD 81%, #fff 91%); }
    85% { background: linear-gradient(141deg, #fff 76%, #DEF3FD 86%, #fff 96%); }
    90% { background: linear-gradient(141deg, #fff 81%, #DEF3FD 91%); }
    95% { background: linear-gradient(141deg, #fff 86%, #DEF3FD 96%); }
    100% { background: linear-gradient(141deg, #fff 91%, #DEF3FD 0%); }
}

.ad-inserter-loading-button-container {
    display: inline-block;
    padding: 0 20px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    animation-duration: .8s;
    animation-name: changeGradientGreen;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: progress;
    line-height: 44px;
    height: 44px;
}

.ad-inserter-loading-button-container.white {
    background-color: #fff;
    color: #43B4F9;
    text-transform: uppercase;
    text-shadow: none;
    line-height: 40px;
    border: 2px solid #43B4F9;
    border-radius: 3px;
    height: 40px;
    padding: 0 20px;
    cursor: progress;
    display: inline-block;
    animation-duration: .8s;
    animation-name: changeGradientWhite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* ========== loading screen ========== */
.ad-inserter-loading-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.ad-inserter-loading-screen-container > div {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    animation-duration: .8s;
    animation-name: changeGradientGreen;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: progress;
    line-height: 44px;
    font-weight: 500;
    height: 80px;
}

.ad-inserter-loading-screen-container .material-icons {
    font-weight: 500;
    margin-right: 8px;
}

/* ========== buttons up and down ========== */
.ad-inserter-up-down-keys {
    display: flex;
    flex-direction: column;
}

/* ========== video ========== */
.ad-inserter-video-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-inserter-video-head > p {
    margin-bottom: 0;
}

.ad-inserter-video-head > p:last-child {
    color: #555;
}

.ad-inserter-video-right-button {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

/* ========== video part ========== */
.ad-inserter-video-part {
    padding: 10px 30px 10px 20px;
    margin-top: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #F8F8F8;
}

.ad-inserter-video-part-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad-inserter-video-part-head > div {
    display: flex;
    align-items: center;
}

.ad-inserter-video-part-head .material-icons:hover {
    color: #43B4F9;
    cursor: pointer;
}

.ad-inserter-video-part:first-child > .ad-inserter-video-part-head .up-button, .ad-inserter-video-part:last-child > .ad-inserter-video-part-head .down-button {
    color: #ccc;
    cursor: default;
}

.ad-inserter-video-part:first-child > .ad-inserter-video-part-head .up-button:hover, .ad-inserter-video-part:last-child > .ad-inserter-video-part-head .down-button:hover {
    cursor: default;
}

.ad-inserter-video-part.is-only-part .ad-inserter-video-part-head .delete {
    color: #ccc;
    cursor: default;
}

.ad-inserter-video-part.is-only-part .ad-inserter-video-part-head .delete:hover {
    cursor: default;
}

.ad-inserter-video-part-head  p {
    padding-left: 20px;
}

.ad-inserter-video-part-subheader {
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
}

.ad-inserter-video-part-subheader > div > p {
    margin: 0;
    color: #555;
}

.ad-inserter-video-part-subheader > div {
    display: flex;
}

.ad-inserter-video-part-subheader > div > p:nth-child(2) {
    padding-left: 20px;
}

.ad-inserter-video-part-content {
    padding-left: 44px;
}

.ad-inserter-video-part-right-button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 2px;
}

.ad-inserter-video-part-new-ad-block {
    padding-left: 44px;
}

.ad-inserter-video-part-new-ad-block.no-border {
    padding-left: 64px;
}

.ad-inserter-video-part-new-ad-block .ad-inserter-h3-bold {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.ad-inserter-video-part-new-ad-block.no-border .ad-inserter-h3-bold {
    border-top: none;
}

.ad-inserter-video-part-new-ad-block .ad-inserter-input-label {
    min-width: 220px;
}

.ad-inserter-video-part-new-ad-block .ad-inserter-right-button-group {
    padding-top: 2px;
    padding-bottom: 10px;
}

.ad-inserter-video-part-content .ad-inserter-lable-input-row:last-of-type {
    padding-bottom: 25px;
}

.ad-inserter-video-part-content .ad-inserter-lable-input-row:last-of-type.border-active {
    border-bottom: 1px solid #ccc;
}

.ad-inserter-video-part .ad-inserter-video-right-button {
    padding: 0 0 10px;
}

.ad-inserter-video-part .ad-inserter-video-right-button.active-padding-top {
    padding: 20px 0 10px;
}

/* ========== ad-block ========== */
.ad-inserter-ad-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-inserter-ad-block-header > i:hover {
    color: #43B4F9;
    cursor: pointer;
}

.ad-inserter-ad-block-time-subheader {
    display: flex;
    justify-content: space-between;
}

.ad-inserter-ad-block-time-subheader > p {
    color: #555;
    margin: 0 0 10px;
}

.ad-inserter-ad-block-time-subheader > p > span {
    padding-left: 20px;
}

.ad-inserter-ad-block-container {
    padding-left: 64px;
}

.ad-inserter-ad-block-container .ad-inserter-right-button-row {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.ad-inserter-ad-block-container .ad-inserter-right-button-group {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.ad-inserter-ad-block-container .ad-inserter-lable-input-row {
    padding: 20px 0 0 0;
}

.ad-inserter-ad-block-selector-container {
    display: flex;
    align-items: center;
}

.ad-inserter-ad-in-ad-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad-inserter-ad-in-ad-block .material-icons:hover {
    color: #43B4F9;
    cursor: pointer;
}

.ad-inserter-ad-in-ad-block:first-child .up-button, .ad-inserter-ad-in-ad-block:last-child .down-button {
    color: #ccc;
    cursor: default;
}

.ad-inserter-ad-in-ad-block:first-child .up-button:hover, .ad-inserter-ad-in-ad-block:last-child .down-button:hover {
    cursor: default;
}

.ad-inserter-ad-in-ad-block > div {
    display: flex;
    align-items: center;
}

.ad-inserter-ad-in-ad-block > div > span {
    padding: 20px;
}

.ad-inserter-add-ad-to-ad-block-container {
    border-top: 1px solid #ccc;
}

.ad-inserter-add-ad-to-ad-block-container > div:first-child {
    padding-left: 20px;
}

.ad-inserter-ad-block-create-ad-container {
    padding-left: 49px;
}

.ad-inserter-add-ad-to-ad-block-container > .ad-inserter-right-button-group {
    padding-top: 10px;
}

.ad-inserter-add-ad-to-ad-block-container > .ad-inserter-ad-block-create-ad-container + .ad-inserter-right-button-group {
    padding-top: 25px;
}

/* ========== Dropdown ========== */
.ad-inserter select {
    background: none;
    box-shadow: none;
    outline: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #43B4F9;
    color: #43B4F9;
    height: 30px;
    width: 100%;
    font-size: 14px;
}

/* ========== input radio ========== */
.ad-inserter input[type='radio'] {
    outline-color: #43B4F9;
    min-width: inherit !important;
}

.ad-inserter input[type='radio'] + label {
    text-transform: uppercase;
    width: 200px;
    padding: 20px 20px 20px 10px;
}

/* ========== table ========== */
.ad-inserter .active-row {
    background: linear-gradient(to bottom, #E6E6E6, #F2F2F2);
}

.ad-inserter-table {
    border-collapse: collapse;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.ad-inserter-thead {
    border-bottom: 2px solid #43B4F9;
}

.ad-inserter-thead > tr > th {
    text-transform: uppercase;
}

.ad-inserter-th {
    padding: 20px;
}

.ad-inserter-td {
    padding: 20px;
}

.ad-inserter-table-data-fixed-width-uses {
    width: 100px;
}

.ad-inserter-table-data-fixed-width-duration {
    width: 180px;
}

.ad-inserter-table-data-fixed-width-number {
    width: 65px;
}

.ad-inserter-table-data-fixed-width-icon {
    width: 44px;
    padding-right: 20px;
}

.ad-inserter-table-cell-center {
    text-align: center;
}

.ad-inserter-table-cell-left {
    text-align: left;
}

.ad-inserter-table-cell-right {
    text-align: right;
}

.ad-inserter-table-edit-ad-view {
    border-bottom: 2px solid #ccc;
}

.active.ad-inserter-table-edit-ad-view {
    padding: 10px 20px 20px 20px;
}

.ad-inserter-table-edit-ad-view .ad-insertion-content-wrapper {
    padding: 0 20px;
}

/* ========== no ad data ========== */
.ad-inserter-no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.ad-inserter-no-data > p {
    align-self: center;
    font-size: 18px;
    text-transform: uppercase;
}

.ad-inserter-no-data > a {
    align-self: center;
}

/* ========== start Page Sections ========== */
.ad-inserter-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.ad-inserter-section-second-level-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 10px;
}

.ad-inserter-start-page-image-container {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.ad-inserter-section-paragraph {
    font-size: 15px;
}

.ad-inserter-start-page-button-container {
    display: flex;
    justify-content: flex-end;
}

/* ========== only for test purposes (delete later!!!) ========== */
.db-test-buttons {
    margin-top: 100px;
}


/* timeline */
.ad-inserter-timeline {
    position: relative;
    width: 100%;
    height: 20px;
    border-width: 6px 2px;
    border-style: solid;
    border-color: #595959;
}

.ad-inserter-timeline-video-block {
    position: absolute;
    z-index: 2;
    margin-left: -1px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #595959;
    height: 20px;
    background-color: rgba(67, 180, 249, 0.15);
}

.ad-inserter-timeline-video-block:hover {
    background-color: rgba(67, 180, 249, 0.30);
}

.ad-inserter-timeline-ad-block {
    position: absolute;
    z-index: 3;
    margin-left: -1px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #595959;
    background-color: rgba(37, 193, 178, 0.50);
    height: 20px;
}

.ad-inserter-timeline-ad-block:hover {
    background-color: rgba(37, 193, 178, 0.80);
}

.ad-inserter-timeline-dotted-border {
    position: absolute;
    z-index: 1;
    height: 22px;
    width: 100%;
    margin-top: -5px;
    border-width: 4px 0;
    border-style: dotted;
    border-color: #f4f4f4;
}

/* timeline tooltips */
.ad-inserter-timeline .react-tooltip h2, .ad-inserter-timeline .react-tooltip p {
    margin: 0;
    padding: 0 5px;
}

.ad-inserter-timeline .react-tooltip p {
    display: flex;
    justify-content: space-between;
}

.ad-inserter-timeline .react-tooltip p:first-of-type {
    padding-top: 5px;
}

.ad-inserter-timeline .react-tooltip p span:first-child {
    padding-right: 20px;
}

.ad-inserter-timeline .react-tooltip h2 {
    color: #ffffff;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
}

.ad-inserter-timeline .react-tooltip .ad-inserter-tooltip-ad-block-header h2 {
    color: #ffffff;
}

.ad-inserter-timeline .react-tooltip .ad-inserter-tooltip-ad-block-header h2, .ad-inserter-timeline .react-tooltip .ad-inserter-tooltip-ad-block-header p {
    margin: 0;
}

.ad-inserter-timeline .react-tooltip .ad-inserter-tooltip-ad-block-header p:last-of-type {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
}

/* ========== video table ========== */
.ad-inserter-video-table-row-item {
    padding: 20px 20px 20px 0;
}

tr .ad-inserter-video-table-row-item:first-child {
    padding: 20px;
}

.ad-inserter-video-table-fixed-size-of-material-icon {
    width: 24px;
}

.ad-inserter-video-table-text-right {
    text-align: right;
}

.ad-inserter-video-table-text-left {
    text-align: left;
}

.ad-inserter-video-table-text-center {
    text-align: center;
}

.ad-inserter-video-table-fixed-width-duration {
    width: 160px;
}

.ad-inserter-video-table-fixed-width-ads {
    width: 40px;
}

.ad-inserter-video-table-fixed-width-ad-blocks {
    width: 112px;
}

.ad-inserter-video-table-fixed-width-parts {
    width: 62px;
}